.popup{
    background: #F0F0EE;
    padding: 15px;
    z-index: 100;
    display: none;
    position: absolute;
    border-radius: 5px;
    width: 300px;
    margin: 0 0 0 -150px;
    left: 50%;
    top: 160px;
    border: 1px solid #000;
}
#imageMapBody form{
    position: relative;
}
.areaPopup .attr.attr-title{
    padding-right: 30px;
}
.areaPopup .attr{
    padding: 0 0 15px 0;
    float: left;
    width: 135px;
}
.areaPopup label{
    display: block;
}
.areaPopup .attr input{
    width: 100%;
}
.areaPopup input{
    margin: 0;
}
.areaPopup .href{
    clear: left;
    width: 100%;
}
.areaPopup .href input{
    margin: 0;
    width: 100%;
}
.popup .save{
    float:left;
    margin: 0;
    background: #6EFF7F;
    border: 1px solid #0CF;
    padding: 6px 20px;
    color: #8D9AFA;
    cursor: pointer;
    border-radius: 5px;
}
.popup .remove{
    float:right;
    margin: 0;
    background: red;
    border: 1px solid red;
    padding: 6px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
#close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 0 4px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}
.dialogWarning{
    margin: 20px 0;
    font-size: 12px;
    color: red;
}
.visiblePannel{
    display: block;
    margin: 0 0 20px 0;
}
.map-area{
    position: absolute;
    top: 0;
    left: 0;
}
.areaElement{
    stroke: blue;
    fill: #4AC4F3;
    stroke-width: 1px;
    opacity: 0.6;
    cursor: pointer;
}
.areaElement:hover{
    fill: #F4FF6F;
}
.areaElement.areaDrag{
    fill: #FF6C6C;
}
.tempPoly{
    stroke: blue;
    fill: #4AC4F3;
    stroke-width: 1px;
    opacity: 0.6;
}
.helperBox{
    fill: #F60;
}
.helperBox:hover{
    fill: #0FC;
}
.code{margin: 15px 0 0;}
.code div{
    padding-left: 25px;
}
#drawTypes ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
#drawTypes li{
    display: inline-block;
    padding: 5px 15px;
    background: #3D939B;
    margin: 5px 10px;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-width: 0 2px;

    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
}
#modalBG{
    background: #000;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    top: 0;
    left: 0;
    display: none;
}
#showDomain{
    display: inline-block;
    border-right: 10px solid #00E0FF;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    text-indent: -99999px;
    width: 0;
    height: 0;
    vertical-align: middle;
    cursor: pointer;
}
#showDomain.rightBorder{
    border-right: 0;
    border-left: 10px solid #00E0FF;
}
#imgUrl,
#imgAlt,
#imgTitle,
#mapName{
    width: 300px
}
.load-image-error{
    border-color: red;
}
#mapName{
    margin: 0 0 0 10px;
}
#clearUrl{
    background: #FF5F5F;
    border-radius: 50%;
    color: white;
    width: 21px;
    line-height: 21px;
    height: 21px;
    display: inline-block;
    cursor: pointer;
}
#drawTypes #clearSVG{
    background: red;
}
#drawTypes .prevMap{
    margin-left: 60px;
    background: #26568A;
    border: 1px solid transparent;
    border-width: 0 2px;

    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
}
#drawTypes .prevMap.hide,
#drawTypes li.activeType{
    border-color: red;
}
.map-area-wrapper{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border: 1px solid #E01818;
    font-size: 0;
}
.map-area-wrapper img{
    border: 0;
}
.centeredBox{
    text-align: center;
    margin: 10px 0;
}
#errorSVG{
    display: none;
    text-align: center;
}